#footer
  p            
    a(href='https://github.com/sandra-soto/riddle-me-this') Source Code
    |      |
    |   
    a(href='https://www.termsandconditionsgenerator.com/live.php?token=HPK1SfuNcXcYWFHX5KWFPewo3qE02EdP') Terms & Conditions
    |      |
    | 
    a(href="mailto:ssotodia@uci.edu") Report a Bug              


