doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    |         
    title Riddle Me This!
    |     
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap', rel='stylesheet')       
    link(rel='stylesheet', href='/static/index.css')
    link(rel='stylesheet', href='/static/lobby.css')
    link(rel='stylesheet', href='/static/gameplay.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/image/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/image/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/image/favicon-16x16.png')
    link(rel='manifest', href='/image/site.webmanifest')
    |
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')  
    |
    script(src="/jquery.hoverIntent.js")
    | 
    script(src='/socket.io/socket.io.js')
    |     
    script(src='/main.js')
  |     
  body
    |   
    ul.pages
      li.chat.page
        .stripe
          .titleBox
            a.title.smallText(href='/')  Riddle Me This!
          .dropBox
            .dropdown
                button.dropbtn ▾ Join a new game
                  |   
                  .dropdown-content
                    a.joinGame(href='#') New public game
                    |
                    a.createPrivateGame(href='#') Create private game
                    |     
                    a.joinPrivateGame(href='#') Join private game with code
        #lobbyContainer     
          .userboard.container
             #user_container
          .gameContainer.container
            #myProgress
              #myBar
            p#timer Ready, set, go!
            .riddleAnsContainer
              p#riddle
              p#answer
              .leaderBoard
          |         
          ul.messages.container
          |       
          input.inputMessage(placeholder='Type here...')
      li.login.page
        #mainpageContainer
          #user_inputs
            #avatar_select
              .btn_group.left_btn
                - for(let x = 0; x < 3; x++)
                  button.select_button.btn_left(type='button') ◀
              .btn_group.right_btn
                - for(let x = 0; x < 3; x++)
                  button.select_button.btn_right(type='button') ▶
              #avatar_image
                .shape.avi_head.circle#av
                  .shape-inner.avi_head
                      .shape-front.avi_head 
                        .face
                          br
                          p#face ^.^
                      .shape-back.avi_head
                        p#rmt RMT
            #usernamecontainer                 
                input.input1.usernameInput(type='text', name='username', placeholder='username', required='', maxlength="10")
                |
                input#go(type='submit', value='Go!', onkeypress='return event.keyCode != 13')
                |
                #privGameContainer
                  | 
                  #privGame(data-unchecked='')
                  div(data-tip='If you have a game code, type it here')
                    input#privGameCode(type='text', name='privGameCode', placeholder='Private Game')


          |
          #titlediv
            a.title.largeText(href='/')  Riddle Me This!
        |
        include footer

      

