doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |         
    title Riddle Me This!
    |         
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap', rel='stylesheet')
    |         
    link(rel='stylesheet', href='static/master.css')
    link(rel='stylesheet', href='/static/index.css')
    link(rel='stylesheet', href='/static/avatar.css')
    link(rel='stylesheet', href='/static/lobby.css')
    link(rel='stylesheet', href='/static/gameplay.css')
            
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap', rel='stylesheet')

    |
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')  
    |
    script(src="/jquery.hoverIntent.js")
    | 
    script(src='/socket.io/socket.io.js')
    |     
    script(src='/main.js')
    |   
    script(type='text/javascript')
    |
    block head
  |     
  body
    |
    block content 
    |
