.circle {
  border-radius: 50%;
}

.square {
  border-radius: 5%;
}



.face p
{
	padding: 0px;
	margin:0px;
	font-size: 30px;
	font-weight: bold;
}

#rmt
{
	font-family: "Permanent Marker";
	font-size: 22px;
}

.avi_head_small
{
	height: 50px;
  	width: 50px;
  	background-color: #ec6cf9;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color:white;
  	background-color: rgba(240, 182, 214, 1);

}

.avi_head_small:hover
{
	border:palegoldenrod 2px solid;
}





.avi_head
{
	height: 125px;
  width: 125px;
  	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	

}



/* This container is needed to position the front and back side */
.shape-inner 
{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: inherit;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.shape:hover .shape-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.shape-front, .shape-back {

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(240, 182, 214, 1);
  border-radius: inherit;
  color: white;

  display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/* Style the front side (fallback if image is missing) */
.shape-front {

}

/* Style the back side */
.shape-back {

  transform: rotateY(180deg);
}