/* contains code for lobby*/

#lobbyContainer
{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: 100%;
  width:100%;
}


#privateGameParametersContainer
{
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 2%;
  border:black;
  height: 71%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .08);
  border-radius: 25px;
  flex-direction: column;
}

#roundsContainer
{
  height: auto;
}


/*ROUNDS COUNTER CSS*/

#minContainer
{
  float:left;
  height: inherit;
  width: 125px;
  display: flex;
  justify-content: center;
}
#secContainer
{
  float:right;
  height: inherit;
  width:125px;
  display: flex;
  justify-content: center;
}

#roundTimeContainer
{
  float:right;
  height:90px;
  display: flex;
  flex-direction: column;
}

.countTimeLabel {
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-top: 2px;
}


.countBox
{
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(202, 205, 219, .5);
  border:none; 
  padding: 2px;
  height: 20px;
  width:50px;
  border-radius: 20px;
  font-size:14px;
  font-family: 'Roboto', serif;
  font-weight:500;
  text-align:center;
  margin-left:5px;
  margin-right: 10px;
  
}

.incdec:hover
{
  background-color:rgba(0,0,0, 0);
}

.incdec
{
  color: rgba(0, 0, 0, 0.4);
  background-color:rgba(0,0,0, .05);
  border:none;
  float:left;
  height:20px;
  width: 20px;
  border-radius: 10px;
}

.timeContainer
{
  display: flex;
  align-items: center;
  height: inherit;
}

/*END*/

/*BUTTONS CSS*/
.gameButtonsContainer {
  display:flexbox;
  float:left;
  width:20%;
  height: 71%;
    animation: 7000ms ease-in-out infinite color-change;
  box-shadow: black;
  border-radius: 25px;
  margin-right: 2%;

}

.gameAction
{
  border:none;
  margin-bottom: 15px;
  margin-top:10px;
  margin-left: 10px;
  background-color: rgba(202, 205, 219, .8);
  border-bottom:9px solid white;
  border-radius:30px;
  opacity:0.6;
  width:90%;
  display: none;
  font-family: 'Roboto', helvetica, arial;
  font-weight:500;
  outline:none;
       padding-left: 0; padding-right: 0;
     border-left-width: 0; border-right-width: 0;
     white-space: nowrap;
     overflow: hidden;
     height: 50px;

}

.joinExGameInput
{
  margin-bottom: 10px;
}

.gameAction:hover /* same as button1*/
{
  background-color: rgba(202, 205, 219, .4);

}

.gameButtonToggle{
    background-color: rgba(202, 205, 219, .9);
    border-radius: 0px 10px 10px 0px;
    width:35px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gameButtonToggle:hover{
  background-color: rgba(202, 205, 219, .4);
}

#gameButtonToggleText{
    margin:0 0 0;
}


.gameButtonsPage{
  display: flex;
  width: 2%;
  align-items: center;
  margin-top: 2%;
  z-index: 10;

}


/*END*/