
/*FOOTER CSS*/
#footer {
   bottom:0px;
   left:0px;
   position: fixed;
   width:100%;
   opacity: .5;
   text-align: center;
   font-family: 'Roboto', 'Helvetica';
}


#footer p a
{
  color:black;
  text-decoration: none;
  font-size:14px; 
}

#footer p a:hover
{
  color:white;
}


/*TITLE CSS*/
.title {
    color:black;
    font-family: 'Permanent Marker';
    opacity: .4;
    font-size:36px;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    padding-top: 2%;
}

.title:hover {
    color: #7a95f5;
    font-family: 'Permanent Marker';
    text-decoration: none;
    mix-blend-mode: difference;
}


.stripe {
  font-family: "Permanent Marker";
    background-color: white;
    margin-top: 0;
    height: 110px;
    text-align: center;
    opacity: 0.6;
    width:100%;
    display: flex;
    
}


/*LABELS AND TEXT CSS*/
.label1
{
  margin:0;
  padding-top: 6px;
  padding-bottom: 13px;
  padding-left: 3px;
  width: auto;
  font-family:'Roboto', 'Helvetica', 'Arial';
  font-weight: 600;
  font-size: 14px;
  color:black;
  opacity: .5;
  white-space: nowrap;

}


.label2
{
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto';
  font-weight: 500;
  width:  100px;
  margin:0;
  display: inline-block;
}


.small-text, p, span, .log
{
  opacity: .7;
  font-family: 'Roboto', 'Helvetica', 'Arial';

}


/*MISC / ALL*/


select
{
  outline:none;
}



/* Background Animation CSS */



.chat.page, .login.page{
    background: linear-gradient(-45deg,  #3fcdff,#ec6cf9  );
    background-size:cover;
  
    animation: hue-rotate 10s linear infinite;
    overflow: hidden;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

}

.center
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}


.page {
  position: absolute;
  width: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* Login Page */

.login.page {
 
  z-index: 15;

}


/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}



/* Input */

input {
 outline:none;

}

.input1
{
  border:none;
  border-radius:25px;
  opacity:0.6;
  padding-left: 12px;
  height:25px;
}

button:focus {
    border: none;
    outline: none;
    background-color: rgba(202, 205, 219, 1);
}


html
{
  margin-top:0;
  height:100%;
  overflow: hidden;
}



